

h1 {
    width:500px;
    margin: -25 auto;
    background: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    width:500px;
    margin: -25 auto;
    background: rgb(255, 255, 255);
    text-align: center;
}

p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: large;
    text-indent: 60px;
}

figure {
    border: 1px #080000 solid;
    padding: 4px;
    margin: auto;
  }
  
  figcaption {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

  .bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

    input:invalid {
        border: px solid red;
      }
      
      input:valid {
        border: 1px solid green;
      }

    @media (min-width: 1025px) {
        .h-custom {
        height: 100vh !important;
        }
        }