h1 {
    width:500px;
    margin: -25 auto;
    background: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    width:500px;
    margin: -25 auto;
    background: rgb(255, 255, 255);
    text-align: center;
}

p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: large;
    text-indent: 60px;
}


link {
    font-family: sans-serif;

}
